config oscam
	option disabled '0'
	option respawn '1'

	# 'path' set temporary directory
#	option temp_dir '/tmp/.oscam'

	# 'num' set restart level:
	#       0 - restart disabled (exit on restart request)
	#       1 - WebIf restart is active (default)
	#       2 - like 1, but also restart on segfaults
	option restart_level '0'

	# 'num' set how much seconds to wait at startup for the system clock to be set correctly
#	option wait_on_startup '60'

	# 'string' set syslog identity
#	option syslog_ident 'oscam'

	# 'bool' do not filter sensitive info (card serials, boxids) from the logs
#	option show_sensitive '0'

	# 'num' set debug level mask used for logging:
	#       0 - no extra debugging (default)
	#       1 - detailed error messages
	#       2 - ATR parsing info, ECM, EMM and CW dumps
	#       4 - traffic from/to the reader
	#       8 - traffic from/to the clients
	#       16 - traffic to the reader-device on IFD layer
	#       32 - traffic to the reader-device on I/O layer
	#       64 - EMM logging
	#       128 - DVBAPI logging
	#       256 - loadbalancer logging
	#       512 - CACHEEX logging
	#       1024 - client ECM logging
	#       2048 - CSP logging
	#       4096 - CWC logging
	#       65535 - debug all
#	option debug_level '0'

	# 'num' set the maximum number of pending ECM packets (default: 32, max: 4096)
#	option pending_ecm '32'

	# 'bool' enable WebIf support for UTF-8 charset
	option webif_utf8 '1'
