config minisatip
	option disabled '0'
	option respawn '1'

# Please consult 'minisatip -h' for futher explanation of following options

	# 'port' port for web interface
	option http_port '8080'

	# 'port' port for listening for rtsp requests
#	option rtsp_port '554'

	# 'host[:port]' specify the host and the port (if not 80) where the xml file can be downloaded from
#	option xml_url ''

	# 'path' the path to the custom xml that is provided as part of the satip protocol
#	option xml_path ''

	# 'host:port' specify the hostname and port for the dvbapi server (oscam)
	#             port 9000 is set by default if not specified
#	option dvbapi_url ''

	# 'url' specify playlist url using X_SATIPM3U header
#	option playlist_url ''

	# 'DVC_ID' specify the device id (in case there are multiple SAT>IP servers in the network)
#	option server_id ''

	# 'bool' disables multiple threads
#	option threads '0'

	# 'bool' clean the PSI from all CA information, the client will see the channel as clear if decrypted successfully
#	option clean_psi '0'

	# 'bool' allow encrypted stream to be sent to the client even if the decrypting was unsuccessfull
#	option send_encrypted '0'

	# 'ADAPTER1-ADAPTER2,ADAPTER3,ADAPTER4[,...]' enable only specified adapters
#	option enabled_adapters ''

	# 'ADAPTER1:DELIVERY_SYSTEM1[,ADAPTER2:DELIVERY_SYSTEM2[,...]]' specify the delivery system of the adapters
#	option delsys ''

	# 'ADAPTER1,ADAPTER2-ADAPTER4[,...]' specify slave adapters
#	option slave_adapters ''

	# 'x:y:z' simulate x DVB-S2, y DVB-T2 and z DVB-C adapters on this box (0 means auto-detect)
#	option simulate_fontends '0'

	# 'ADAPTER1:COMMITTED1-UNCOMMITTED1[,ADAPTER2:COMMITTED2-UNCOMMITTED2[,...]'
#	option diseqc ''

	# 'ADAPTER1:BEFORE_CMD1-AFTER_CMD1-AFTER_REPEATED_CMD1-AFTER_SWITCH1-AFTER_BURST1-AFTER_TONE1[,...]'
#	option diseqc_timing ''

	# 'ADAPTER1:LOW-HIGH-SWITCH_FREQUENCY[,...]' specifies the adapter and LNB parameters (* - wildcard for all adapters)
#	option lnb ''

	# 'A1:S1-F1[-PIN][,A2:S2-F2[-PIN][,...]]' defines the unicable adapters (A) and their slot (S), frequency (F)
	#                                         and optionally the PIN for the switch
#	option unicable_string ''

	# jess string, same format as for unicable
#	option jess_string ''

	# 'ADAPTER1,ADAPTER2-ADAPTER4[,..]' specify no power management for the adapters
	#                                   (does not turn power off, * - wildcard for all adapters)
#	option no_power_management ''

	# 'X:Y' set the app adapter buffer to X Bytes (default: 25004)
	#       and set the kernel DVB buffer to Y Bytes (default: 5775360)
	#       - both multiple of 188
#	option adapter_buffers ''

	# 'X' set the app socket write buffer to X KB
#	option socket_write_buffer ''

	# 'X' set the DVR thread priority to X
#	option dvr_priority ''

	# 'xx' simulate xx as local mac address, generates UUID based on mac
#	option mac_address ''

	# 'host' send the rtp stream to remote_rtp_host instead of the ip the connection comes from
#	option remote_rtp_host ''

	# 'bool' use RTSP over TCP instead of UDP for data transport
#	option satip_tcp '0'

	# 'port' use port number to listen for UDP socket in the RTP communication
	#        port + 1000 will be used to listen by the sat>ip client (if satip_servers is configured)
#	option udp_port ''

	# 'DELSYS:host:port' specify the remote satip host and port with delivery system DELSYS
	#                    can be specified more than once
#	list satip_servers ''
