config satpi
	option disabled '0'
	option respawn '1'

	# 'user' run as user
	option user 'root'

	# 'path' set path for application state data eg. xml files etc
	option app_data_path '/usr/share/satpi'

	# 'path' set root path of web/http pages
	option http_path '/usr/share/satpi/web'

	# 'port' set http port, default 8875 (1024 - 65535)
#	option http_port '8875'

	# 'port' set rtsp port, default 554  ( 554 - 65535)
#	option rtsp_port '554'

	# 'bool' do NOT advertise server
#	option no_ssdp '0'

	# 'device' set the network interface to bind to (eg. eth0)
	option iface_name 'br-lan'
